<a href="/songs.js/{{songs}}">
</a>
{{#if song}}
    <div style="font-size:16px; color:#ffffff">
        <ul>
            <b>Song:{{song}} Artist:{{artist}} Album: {{album}} Genre: {{genre}}</b>
        </ul>
    </div>
{{/if}}
{{#if !song}}
    <div style="font-size:16px; color:red">Playlist Empty:(</div>
{{/if}}