<a href="/songs.js/{{songs}}">
</a>
{{#if song}}
    <div style="font-size:16px; color:#ffffff"<DndProvider backend={HTML5Backend}></DndProvider>>
            <b>Song:{{song}} Artist:{{artist}} Album: {{album}} Genre: {{genre}}</b>
    </div>
{{/if}}
{{#if !song}}
    <div style="font-size:16px; color:red">Playlist Empty:(</div>
{{/if}}