<a href="/songs.js/{{songs}}">
</a>
{{#if song}}
    <div style="font-size:16px; color:#ffffff">
<br>
<ul></ul>
<b>Song:{{song}}</b>, <b>Artist:{{artist}}</b> 
<b>Album: {{album}}</b><br>
<b>Genre: {{genre}}</b><br>
    </div>
{{/if}}
{{#if !song}}
    <div style="font-size:16px; color:red">Playlist Empty:(</div>
{{/if}}