<a href="/cars/{{model}}">
<img src="/images/{{image}}" style="width:200px; border:3px solid rgb(0, 3, 105)">
</a>
<br>
<b>Song:{{song}}</b><br>
<b>Artist:{{artist}}</b><br> 
Album: {{album}}<br>
Genre: {{genre}}<br>
<br>